body {
  background-color: #1b1b1b;
  color: antiquewhite;

  font-family: system-ui;

  margin: 0px;
  padding: 0px;
}

/* Main Page styles */
.container {
  max-width: 500px;
  margin: 0 auto;
  border: 5px solid crimson;
  border-radius: 10px;
  min-height: 50vh;
  padding: 1rem;
}

.contents-nav {
  color: coral;
}

.title {
  background: linear-gradient(to right bottom,
      rgba(245, 201, 4, 0.8),
      rgba(215, 241, 99, 0.7));
  background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: 700;

  text-align: center;
}

.go-back {
  background-color: crimson;
}

#submit {
  color: antiquewhite;
  margin: 1rem 1rem;
}

button {
  display: block;
  padding: 0.5rem 1rem;
  background-color: coral;
  border-radius: 5px;
  border: 1px solid transparent;

  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.3s ease;
}

button:hover {
  background-color: crimson;
}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;

  transition: all 0.5s ease;
}

a:hover {
  color: crimson;
}